@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Ajax_Update";
}

<h2>Ajax_Update</h2>

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
    </nav>
    <h2>New Teacher</h2>

    <div class="inputrow">
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname" />

    </div>
    <div class="inputrow">
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname" />

    </div>
    <div class="inputrow">
        <label for="salary">Salary:</label>
        <input type="text" id="salary" name="salary" value="@Model.salary" />
    </div>
    <div class="inputrow">
        <label for="employeenumber">Employeenumber:</label>
        <div>
            <textarea id="employeenumber" name="employeenumber">@Model.employeenumber</textarea>
        </div>
    </div>
    @{
        //Update Teacher() is a JS method defined in /Scripts/teachers.js
    }
    <button onclick="UpdateTeacher(@Model.TeacherId);">Update Teacher</button>
</div>
<script src="~/Scripts/teachers.js"></script>
